@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');
*,*::before,*::after {
    box-sizing: border-box;
    margin: 0;
   
}
html {
    scroll-behavior: smooth;
    scroll-margin: 100px;
    position: relative;
    height: 100%;
}
:root {
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-black: #000;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-gray-100: #f8f9fa;
    --bs-gray-200: #e9ecef;
    --bs-gray-300: #dee2e6;
    --bs-gray-400: #ced4da;
    --bs-gray-500: #adb5bd;
    --bs-gray-600: #6c757d;
    --bs-gray-700: #495057;
    --bs-gray-800: #343a40;
    --bs-gray-900: #212529;
    --bs-primary: #0d6efd;
    --bs-secondary: #6c757d;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
    
    
    --bs-body-color: #212529;
    --bs-body-bg: #fff;
    --bs-border-width: 1px;
    --bs-border-style: solid;
    --bs-border-color: #dee2e6;
    --bs-border-color-translucent: rgba(0,0,0,.175);
  
    

	

    --ptf-color-white: #fff;
    --ptf-color-black: #000;
    --ptf-color-1: #ccc;
    --ptf-color-2: #666;
    --ptf-color-3: #999;
    --ptf-color-4: #f7f7f7;
    --ptf-color-5: #f3f7fc;
    --ptf-color-6: #d9d9d9;
    --ptf-color-7: #f7f7f7;
    --ptf-color-8: #f2f2f2;
    --ptf-color-9: #f5f5f5;
    --ptf-color-10: #dedede;
    --ptf-color-11: #f1eee9;
    --ptf-color-12: #121212;
    --ptf-color-13: grey;
    --ptf-color-14: rgba(15, 12, 12, 0.96);
    --ptf-color-15: #faf6f5;
    --ptf-color-16: #070707;
    --ptf-color-17: #ebebeb;
    --ptf-color-18: rgba(12, 12, 12, 0.913);
    --ptf-color-19: #f4f3f0;
    
}
h1,h2,h3,h4{
  font-family: 'Heebo', sans-serif;

}
p {
  font-family: 'Dosis', sans-serif;
}
.text-gwhite{color:#999999;}
.text-orange{color: rgb(140, 220, 20)}
.border-top{
    border-top: 1px solid var(--bs-border-color);
    
}
.border-bottom{
    border-bottom: 1px solid var(--bs-border-color);

}


body {
    position: relative;
    font-size: 1rem;
    letter-spacing: -.025em;
    -webkit-font-smoothing: antialiased;
    background-color: #121212 ;
	
	overflow-x: hidden;
   
}
.scroll-container {
    scroll-snap-type: y mandatory;
}
section {
    scroll-snap-align: start;
}
.text-white{color:#f7f7f7;}

html ::-webkit-scrollbar {
    width: 10px;
}
html ::-webkit-scrollbar-thumb {
    background-color: #c45e1e;
}
.flex {display: flex;}
.grid {display: grid;}
.full-flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
img,picture {
    max-width: 100%;
    object-fit: cover;
}
.f-1{font-size: .5rem;}
.f-2{font-size: .8rem;}
.f-3{font-size: 1.2rem;}
.f-4{font-size: 2rem;}
.f-5{font-size: 1.8rem;}
.f-6{font-size: 2rem;}
.f-7{font-size: 2.3rem;}
.f-8{font-size: 3rem;}
.f-9{font-size: 4rem;}
.f-10{font-size: 5rem;}
.f-11{font-size: 8rem;}

.container {
    width: 80%;
    margin: auto;
}
.m-1{margin-top: .5rem;}
.m-2{margin-top: 2.3rem;}
.m-3{margin-top: 3rem;}
.m-4{margin-top: 4rem;}
.m-5{margin-top: 5rem;}
.m-6{margin-top: 6rem;}
.m-7{margin-top: 7rem;}
.m-8{margin-top: 8rem;}
.m-9{margin-top: 9rem;}
.m-10{margin-top: 10rem;}

/* CUSTOM STYLE STARTS FROM HERE */
/* HEADER SECTION */
.section1 {
    border-bottom:  1px solid var(--bs-border-color);
}
.header {
    height: 132px;

}
.logo {
    color: var(--ptf-color-11);

}
header.sticky {
  height: 80px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: black;
  width: 100%;
  padding-inline: 1rem;
}

.ul {
    gap: 3rem;
    z-index: 10000;
}
.ul li {
    list-style: none;
}
.ul li a {
    text-decoration: none;
    color: var(--ptf-color-11);
    
  }
  a {
    
    transition: all .3s ease;
}
.social-icons a:hover {

}

ul li a:hover {
  box-shadow: 0 5px 20px rgba(85, 83, 83, 0.778);
  color: rgba(139, 136, 136, 0.87);
}

/* main page style */
.main-content-sec {
    padding-block: 8rem;
    grid-template-columns: 50% 50%;
    gap: 3rem;
}
.main-text-sec {
    padding-right: 3rem;
}
.main-text-sec h1 {
    line-height: 1;
}

.arrow i{
    font-size: 5rem;
    transform: rotate(50deg);
}

/* main -image */
.main-img-sec {
    padding-inline: 2rem;
}
/* my service section */



.service {
    grid-template-columns: 1.1fr 1fr 1fr 1fr;

}
.service-sec {
    padding-block: 6rem;
    padding-bottom: 10rem;
}
.grid-ser-gap {
    gap: 1rem;
} 
.git-pad h2 {
    margin-bottom: 1rem;
}

/* project section */
.my-project {
    padding-block: 6rem;
    padding-bottom: 10rem;
    
}
.project-icon i {
    transform: rotate(50deg);
    padding-inline: 1rem;

}
.project {
    grid-template-columns: 1.1fr 1fr 2fr;
    align-items: start;
}

/* project show */
.show-project {
    grid-template-columns: 1fr 1fr 1fr;
}

.project-img {
    height: 392px;

}
.project-img img {
    height: 100%;
    opacity: .8;
}
.about-section {
    padding-top: 6rem;
    padding-bottom: 10rem;
}

.logo img{
    width: 6rem;
}
/* contact */

.ic i {
    transform: rotate(40deg);
}
.parallex-bg {
    width: 100%;
    height: 690px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.parallex-bg::before {    
    content: "";
    background-image: url(../image/blackandwhite.jpg);
    background-position: center;
    
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.55;
}
/* footer section */ 

.footer-section {
    width: 100%;
}
.footer-grid {
    grid-template-columns: 1fr 1fr 1fr;
}
.social-icons {
    gap: 1.5rem;
}
.left {
    float: right;
    padding: 2rem;
    cursor: pointer;
}

.swiper-button-prev::after,.swiper-button-next::after{
    display: none;
    
}
.absolute {
    position: absolute;
    left: 50px;
    overflow: visible;
}




/*  swiperrrrrrrrrrrrrrrr */
a, a:hover {
  text-decoration: none;
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

.item-bg {
  width: 300px;
  height: 500px;
  position: absolute;
  top: 30px;
  background: rgb(92, 89, 89);
  border-radius: 10px;
  box-shadow: 0 6px 26px 6px rgba(0,0,0,0.25);
  opacity: 0;
  transition: all .3s;
  left: -30px;
  

  &.active {
    left: 0;
    top: 0;
    opacity: 1;
    display: none;
  }

}
.news__item.active {
  background-color: #462825;
  color: #ebe1e1;
}

.news {

  &-slider {
    z-index: 2;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;

    @media screen and (max-width: 1300px){
      max-width: 900px;
    }

    @media screen and (max-width: 576px) {
      margin-top: 45px;
    }

    &__wrp {
      display: flex;
      align-items: flex-start;
      position: relative;
      z-index: 2;
    }

    &__item {
      width: 300px;
      flex-shrink: 0;
      //padding: 15px;

      @media screen and (max-width: 992px) {
        width: 240px;
      }

      &.swiper-slide {
        opacity: 0;
        pointer-events: none;
        transition: all .3s;
      }

      &.swiper-slide-active,
      &.swiper-slide-prev,
      &.swiper-slide-next {
        opacity: 1;
        pointer-events: auto;
      }


    }

    &__ctr {
      position: relative;
      z-index: 12;
    }

    &__arrow {
      background: #fff;
      border: none;
      display: inline-flex;
      width: 50px;
      height: 50px;
      justify-content: center;
      align-items: center;
      box-shadow: 0 6px 26px 6px rgba(0,0,0,0.25);
      border-radius: 50%;
      position: absolute;
      top: 50%;
      z-index: 12;
      cursor: pointer;
      outline: none!important;

      &:focus {
        outline: none!important;
      }

      .icon-font {
        display: inline-flex;
      }

      &.news-slider-prev {
        left: 15px;
        transform: translateY(-50%);
      }

      &.news-slider-next {
        right: 15px;
        transform: translateY(-50%);
      }

    }

    &__pagination {
      text-align: center;
      margin-top: 50px;

      // @media screen and (max-width: 576px) {
      //   margin-top: 50px;
      // }

      .swiper-pagination-bullet {
        width: 13px;
        height: 10px;
        display: inline-block;
        background: #fff;
        opacity: .2;
        margin: 0 5px;
        border-radius: 20px;
        transition: opacity .5s, background-color .5s, width .5s;
        transition-delay: .5s, .5s, 0s;
      }

      .swiper-pagination-bullet-active {
        opacity: 1;
        background: #ffffff;
        width: 100px;
        transition-delay: 0s;

        @media screen and (max-width: 576px) {
          width: 70px;
        }

      }
    }

  }

  &__item {
    padding: 40px;
    color: #fff;
    border-radius: 10px;
    display: block;
    transition: all .3s;

    @media screen and (min-width: 800px) {
      &:hover {
        color: #ede2e2;
        transition-delay: .1s;
        //background: #fff;
        //box-shadow: 0 6px 26px 6px rgba(0,0,0,0.25);

        .news-date,.news__title,.news__txt {
          opacity: 1;
          transition-delay: .1s;
        }

        .news__img {
          box-shadow: none;
        }

      }
    }



    &.active {
     

      .news-date,.news__title,.news__txt {
        opacity: 1;
      }

      .news__img {
        box-shadow: none;
      }

    }

    @media screen and (max-width: 992px) {
      padding: 30px;
    }

    @media screen and (max-width: 576px) {
      padding: 20px;
    }

  }

  &-date {
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 2px solid;
    display: inline-block;
    opacity: .7;
    transition: opacity .3s;

    @media screen and (max-width: 576px) {
      margin-bottom: 10px;
      display: inline-flex;
      align-items: center;
      padding-bottom: 0;
    }

    &__title {
      display: block;
      font-size: 32px;
      margin-bottom: 10px;
      font-weight: 500;

      @media screen and (max-width: 576px) {
        margin-right: 10px;
      }

    }

    &__txt {
      font-size: 16px;
    }

  }

  &__title {
    font-size: 25px;
    font-weight: 500;
    opacity: .7;
    margin-top: 10px;
    margin-bottom: 15px;
    transition: opacity .3s;

    @media screen and (max-width: 576px) {
      font-size: 22px;
      margin-bottom: 10px;
    }

  }

  &__txt {
    margin: 10px 0;
    line-height: 1.6em;
    font-size: 15px;
    opacity: .7;
    transition: opacity .3s;
  }

  &__img {
    border-radius: 10px;
    box-shadow: 0 6px 26px 6px rgba(0,0,0,0.25);
    height: 200px;
    margin-top: 30px;
    width: 100%;
    transition: all .3s;
    transform-origin: 0% 0%;

    @media screen and (max-width: 576px) {
      height: 180px;
      margin-top: 20px;
    }

    img {
      max-width: 100%;
      border-radius: 10px;
      height: 100%;
      width: 100%;
    }

  }


}
.news__title {
  margin-top: 1rem;
  margin-bottom: 0;
}

.news-date {
  margin-bottom: 0;
}
.news__item{
  padding-inline: 1rem;
  padding-block: 0;
}

.overflow{overflow: hidden;}
.hamburger {display: none;}
.x-mark{display: none;}

@media screen and (max-width: 1400px){
  .container{
    width: 90%;
  }
  .f-1{font-size: .4rem;}
.f-2{font-size: .6rem;}
.f-3{font-size: 1.1rem;}
.f-4{font-size: 1.8rem;}
.f-5{font-size: 1.9rem;}
.f-6{font-size: 1.9rem;}
.f-7{font-size: 2.1rem;}
.f-8{font-size: 2.5rem;}
.f-9{font-size: 3rem;}
.f-10{font-size: 4rem;}
.f-11{font-size: 5rem;}

// landing
.main-text-sec {
  padding-right: 2rem;
  margin-top: 6rem;
}
}
.hamburger {
  cursor: pointer;
}
.text-animation {
  opacity: 0;
  transition: all 1s ease-in-out;
  filter: blur(3px);
  transform: translateX(-3%);
}
.show{
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}
@media(prefers-reduced-motion) {
  .text-animation {
    transition: none;
  }
  
}


@media screen and (max-width: 992px){
  .container{
    width: 100%;
    margin: 0;
  }
  
  .f-1{font-size: .4rem;}
.f-2{font-size: .6rem;}
.f-3{font-size: 1.1rem;}
.f-4{font-size: 1.6rem;}
.f-5{font-size: 1.7rem;}
.f-6{font-size: 1.8rem;}
.f-7{font-size: 2rem;}
.f-8{font-size: 2rem;}
.f-9{font-size: 2.7rem;}
.f-10{font-size: 3.7rem;}
.f-11{font-size: 4rem;}

// landing

.main-content-sec {
  grid-template-columns: none;
}

.news-slider__item{width: 60%;}

.service-sec {
  padding-block: 6rem;
  padding-inline: 2rem;
  padding-bottom: 10rem;
}
.my-project {
  padding-block: 6rem;
  padding-bottom: 6rem;
  
}
.project {
  
  padding-inline: 2rem;
}
.footer-section{
  padding-inline: 2rem;
}
.section1{
  padding-inline: 2rem;
}
}
.news-slider__item{width: 40%;}
.overflow{overflow: hidden;}

.display{display:none;}
@media screen and (max-width: 775px){
  .service {
    grid-template-columns: none;
    gap: 4rem;

}
.f-1{font-size: .4rem;}
.f-2{font-size: .5rem;}
.f-3{font-size: .9rem;}
.f-4{font-size: 1.3rem;}
.f-5{font-size: 1.5rem;}
.f-6{font-size: 1.6rem;}
.f-7{font-size: 1.7rem;}
.f-8{font-size: 1.9rem;}
.f-9{font-size: 2.4rem;}
.f-10{font-size: 3.4rem;}
.f-11{font-size: 3.8rem;}
.logo img{
  width: 3rem;
}

.new-grid {
  grid-template-columns: 1fr 1fr;
}

.project  {
  grid-template-columns: none;
  gap: 4rem;
}
.footer-flex{
  flex-direction: column;
  gap: 4rem;
  margin-bottom: 3rem;
}
.main-text-sec {
  padding-right: 1rem;
  margin-top: 2rem;
}
.main-content-sec {
  padding-block: 4rem;
}
.my-project {
  padding-block: 3rem;
  padding-bottom: 3rem;
}
.about-section {
  padding-top: 3rem;
  padding-bottom: 5rem;
}
.news-slider__arrow.news-slider-prev {
  left: 5px;
  transform: translateY(-50%);
  width: 2.5rem;}
.news-slider__arrow.news-slider-next {
  right: 5px;
  transform: translateY(-50%);
  width: 2.5rem;}
.main-text-sec {
  padding-inline: 1rem;
}
.section1 {
  position: relative;
  padding: 0;
  width: 100%;
}
.header {
  height: 80px;
}

.ul {
  overflow: hidden;
  position: absolute;
  height: 100vh;
  width: 70vw;
  top: 0;
  right: 0;
  background-color: #e7eeee;
  flex-direction: column;
  padding-block: 5rem;
  padding-inline: 0;
  text-align: center;
  display: none;
}
.ul li{
  width: 100%;
  padding-block: 1rem;
}

.ul li a{
  width: 100%;
  color: rgb(3, 3, 3);
  font-size: 1rem;
}
.x-mark {
  position: absolute;
  right: 15px;
  font-size: 2rem;
  top: 1rem;
  padding: 10px;
  cursor: pointer;
  display: block;
}
.service-sec  {
  padding-inline: .5rem;
}
.news-slider__item{width: 80%;}
.display{display: block;}
.ndisplay{display: none;}
.hamburger {
  color: white;
  padding-inline: 1rem;
  font-size: 1.4rem;
}
.arrow {
  font-size: 1.5rem;
}
.project {
  gap: 2rem;
}
.hamburger{display: block;}
}

@media screen and (max-width: 375px){
  .ul {
    width: 100vw;

  }
  .main-text-sec {
    padding-right: .5rem;
    margin-top: 2rem;
  }
  .footer-section{
    padding-inline: .5rem;
  }
  .email {
    padding-inline: 1rem;
  }
  .small-font {font-size: 1rem;}
  .news-slider__item{width: 90%;}
  .f-1{font-size: .4rem;}
.f-2{font-size: .3rem;}
.f-3{font-size: .7rem;}
.f-4{font-size: 1rem;}
.f-5{font-size: 1.3rem;}
.f-6{font-size: 1.4rem;}
.f-7{font-size: 1.5rem;}
.f-8{font-size: 1.7rem;}
.f-9{font-size: 2.1rem;}
.f-10{font-size: 3rem;}
.f-11{font-size: 3.4rem;}
}